*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ECF6FA;
}
a{
    text-decoration: none;
}
kbd{
    position: relative;
    width: 2em;
    height: 2.5em;
    margin: 5px;
    line-height: 2.5em;
    display: inline-block;
    text-transform: uppercase;
    color: #483EE6;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(43, 42, 19, 0.18);
}
kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
main{
    text-align: center;
}
.wrapper{
    margin: 0 auto;
    display: inline-block;
}
.wrapper > div:nth-child(2){
    margin-left: 1em;
}
.wrapper > div:nth-child(3){
    margin-left: -1em;
}